@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$body-background-color: rgb(231, 231, 224);

@import "~bulma/sass/utilities/derived-variables";
@import '~bulma';

.kit-logo {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}